.form-control {
  height: 38px !important;
}

.requiredFields {
  color: red;
  font-weight: 600;
}

.monthly-premium-container {
  padding-right: calc(var(--bs-gutter-x) * 5);
  padding-left: calc(var(--bs-gutter-x) * 5);
}

.btn-reset {
  float: right;
  margin: 2px;
  border-radius: 10px;
}

.btn-submit {
  @extend .btn-reset;
  background-color: #204d74 !important;
}

.badge {
  margin-left: 5px;
}

.pt-1 {
  padding-top: 1px;
}